<div class="row no-gutters">

    <div class="col-lg-4">
        
        <div class="card mt-4 bg-primary2" style="max-width:540px;border:none">
            <div class="row no-gutters ">
                <div class="col-4">
                   <h2 style="font-size:150px">1</h2>
                </div>
                <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Retail Store</h5>
                    <p class="card-text">Shop at Our Retail Butcher Shop, and support a local buisness.</p>
                </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>


    <div class="col-lg-4">

        <div class="card mt-4 bg-primary2" style="max-width:540px;border:none">
                <div class="row no-gutters">
                    <div class="col-4">
                    <h2 style="font-size:150px">2</h2>
                    </div>
                    <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Hygiene is our USP.</h5>
                        <p class="card-text">We gaurantee the highest standard of sanitisation. </p>
                    </div>
                    </div>
                </div>
                <hr/>
            </div>


        
    </div>
    <div class="col-lg-4">

            <div class="card mt-4 bg-primary2" style="max-width:540px;border:none">
                <div class="row no-gutters">
                    <div class="col-4">
                    <h2 style="font-size:150px">3</h2>
                    </div>
                    <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Fresh and Tender</h5>
                        <p class="card-text">We gaurantee the best and fresh local meats. </p>
                    </div>
                    </div>
                </div>
            </div>

            <hr/>
    </div>
</div>